<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% if page.title %}{{ site.title | append: " // "| append: page.title}}{% else %}{{ site.title }}{% endif %}</title>    
	<meta name="description" content="{{ site.description }}">

    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    {% if page.js %}
    	{% for js in page.js do %}
        	<script src="/js/{{js}}"></script>
    	{% endfor %}
	{% endif %}

	{% if page.game %}
        <script src="/assets/js/phaser.min.js"></script>
    	{% for game in page.game do %}
        	{% include /games/{{game}}/head.html %}
    	{% endfor %}
	{% endif %}
</head>
