<meta charset="utf-8"/>
<style type="text/css">
    @import url(http://fonts.googleapis.com/css?family=Press+Start+2P);

</style>
<meta name="viewport" content="initial-scale=1 maximum-scale=1 user-scalable=0 minimal-ui" />
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="HandheldFriendly" content="true" />

<script type="text/javascript" src="/assets/sgames/grimghosts/js/boot.js"></script>
<script type="text/javascript" src="/assets/sgames/grimghosts/js/load.js"></script>
<script type="text/javascript" src="/assets/sgames/grimghosts/js/menu.js"></script>
<script type="text/javascript" src="/assets/sgames/grimghosts/js/play.js"></script>
<script type="text/javascript" src="/assets/sgames/grimghosts/js/game.js"></script>