---
# Let's add a comment to make this file sass-y.
# Change this file for any custom CSS.
---

/* We need to add display:inline in order to align the '>>' of the 'read more' link */
.post-excerpt p {
	display:inline;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
	"syntax"
;
/////////////////// import runescape font ////////////
@font-face {
    font-family: runefont;
		src:url("../fonts/runefont.eot");
    src:url("../fonts/runefont.eot?#iefix") format('embedded-opentype'),
				url("../fonts/runefont.woff") format("woff"),
				url("../fonts/runefont.ttf") format("truetype");
}
///////////////////////////////////
///  Scroll Down Arrow
.scroll-down {
    display: block;
}
/////////////////////

/// site's buttons /////
.nav-button {
		margin-left: 5px;
}

.nav-button.active {
	border-color: #bfc8cd;
	color: #9EABB3;
}

.main-nav.overlay .nav-button {
    background: rgba(0, 0, 0, 0.35);
    border-color: transparent;
}
////////////////////////

//// main header margin remove /////
.index-header{
	margin-bottom: 0rem;
}

@media only screen and (max-width: 500px) {
  .index-header{
      margin-bottom: 0px;
	}
}
//////////////////////////////////////////////
///  Index Article Background stretcher.//////
.article-container {
	padding:1 1 1 1em;
	overflow:hidden;
	background-color: #23201A;
	background-size: cover;
	background-size: cover;
	-webkit-background-size:
	cover;-moz-background-size:
	cover;background-size: cover;
	background-position: center center;
	background-position-x: 50%;
	background-position-y: 50%;
	background-repeat: no-repeat;
}
//////////////////////////////////////////
// Background Opacity layer/////////////

.background-opacity {
  background: rgba(0, 0, 0, 0.45);
  padding: 2em 0;
}

.background-opacity article {
	color: white;
}
/////////////////////////////////////

///////////LINK DECORATIONS post-title && page-title/////////
a {
	color: #6998c9;
	text-decoration: none;
}

.post-title a, .page-title a{
	color: white;
}

.post-title a:hover, .page-title a:hover{
	color: #95a5a6;
}
////////////////////////////////////////
////////// page splash-message ///////////
.page-description {
	line-height: 0.8em;
	font-weight: normal;
	font-size: 3.2rem;
	font-family: runefont;
}

#splash-text {
	-webkit-animation: breathing 2s ease-out infinite normal;
	animation: breathing 2s ease-out infinite normal;
}

@-webkit-keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  25% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  60% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  25% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  60% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
}
////////////////////////////////////////////////
