---
# Let's add a comment to make this file sass-y.
# Change this file for any custom CSS.
---

/* We need to add display:inline in order to align the '>>' of the 'read more' link */
.post-excerpt p {
	display:inline;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
	"syntax"
;

.scroll-down {
    display: block;
}

.nav-button {
		margin-left: 5px;
}

.nav-button.active {
	border-color: #bfc8cd;
	color: #9EABB3;
}

.main-nav.overlay .nav-button {
    background: rgba(0, 0, 0, 0.35);
    border-color: transparent;
}
