<!DOCTYPE html>
<html>

{% include head.html %}

<body>

    {% include header.html %}

    <!-- Banner -->
    <section id="banner" class="major">
      <img style='position:relative;padding-bottom:54%' data-position="top center">
        <iframe src='https://www.youtube.com/embed/bMzBBmdd1hU?version=3&loop=1&playlist=bMzBBmdd1hU&amp;rel=0&amp;controls=0&amp;autoplay=1&amp;showinfo=0&amp;mute=1' allow="autoplay; encrypted-media" frameborder='0' scrolling='no' width='100%' height='100%' style='position:absolute;top:0;left:0' allowfullscreen></iframe>
      </img>
        <div class="inner">
            <header class="major">
                <h1>{{ page.landing-title }}</h1>
            </header>
            <div class="content">
                <p style="text-transform: uppercase;">{{ site.description }}</p>
            </div>
        </div>
    </section>

    <!-- Main -->
    <div id="main">

        <!-- One -->
        <!-- {% include tiles.html %} -->

        <!-- Two -->
        <section id="two">
            <div class="inner">
                <header class="major">
                    <h1>Looking for my game design porfolio?</h1>
                </header>
                <p>{{ content }}</p>
                <ul class="actions">
                    <li><a href="pf" class="button next">Check it out!</a></li>
                </ul>
            </div>
        </section>

    </div>

    {% include footer.html %}

</body>

</html>
