<!DOCTYPE html>

<html>

  {% include head.html %}

  <body>
    {% include header.html %}

    <section id="banner" class="style7">
      <div class="inner">
        <span class="image">
            <img src="{{ site.baseurl }}/{{ page.image }}" alt="">
        </span>

        <header class="major">
            <h1>{{ page.title }}</h1>
        </header>

        <div class="content">
          <p>
            Game Designer &amp; Systems Designer
          </p>
          <ul class="actions">
            <li>
              <a href="/assets/dls/Daniel_Contreras_Resume.pdf" class="button icon fa-file-text-o">Résumé</a>
            </li>
          </ul>
        </div>
      </div>
    </section>

    {{ content }}

    {% include footer.html %}

  </body>
</html>
